/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


.wwebjs_auth/
.wwebjs_cache/
public/.wwebjs_auth/

# Allow all other files in public (images, css, js)
!/public/**/*.jpg
!/public/**/*.jpeg
!/public/**/*.png
!/public/**/*.gif
!/public/**/*.svg
!/public/**/*.css
!/public/**/*.js

# Allow all files in storage/app/public
!/storage/app/public/